@charset "UTF-8";

.map1 {
	background-color: #686868;
	border-radius: 15px;
	width: 80px;
	height: 30px;
	position: absolute;
	left: 600px;
	top: 250px;
	line-height: 30px;
	text-align: center;
		font-size:1em;
	font-weight:bold;
}
.map2 {
	background-color: #686868;
	border-radius: 15px;
	width: 80px;
	height: 30px;
	position: absolute;
	left: 700px;
	top: 250px;
	line-height: 30px;
	text-align: center;
		font-size:1em;
	font-weight:bold;
}
.map3 {
	background-color: #686868;
	border-radius: 15px;
	width: 80px;
	height: 30px;
	position: absolute;
	left: 800px;
	top: 250px;
	line-height: 30px;
	text-align: center;
		font-size:1em;
	font-weight:bold;
}
.map4 {
	background-color: #686868;
	border-radius: 15px;
	width: 80px;
	height: 30px;
	position: absolute;
	left: 638px;
	top: 300px;
	line-height: 30px;
	text-align: center;
		font-size:1em;
	font-weight:bold;
}
.map5 {
	background-color: #686868;
	border-radius: 15px;
	width: 80px;
	height: 30px;
	position: absolute;
	left: 762px;
	top: 300px;
	line-height: 30px;
	text-align: center;
		font-size:1em;
	font-weight:bold;
}


.ban{
		background-color: #61bced;
	border-radius: 30px 10px 50px;
	width: 300px;
	height: 350px;
	position: absolute;
	left: 1000px;
	top: 250px;
	line-height: 200px;
	text-align: center;
		font-size:1em;
	font-weight:bold;
}
.info{
		background-color: #7f7f7f;
	border-radius: 30px 10px 50px;
	width: 400px;
	height: 550px;
	position: absolute;
	left: 80px;
	top: 280px;
	line-height: 220px;
	text-align: center;
		font-size:1em;
		color:white;
	font-weight:bold;
}

.list1 {
	position: absolute;
	top: 325px;
	left: 530px;
}


.aaa{
	text-decoration:none;
	color:white;
}